<section class="row mt-5">
    <div class="col-10 mx-auto">
      <h3 class="fw-bold" style="text-indent: 20px; color: #0071ce;">À propos de nous<hr></h3>
      <div class="row">
        <div class="col-lg-8 col-sm-12">
          <p class="mt-4 h5 px-3" style="text-indent: 30px;">
            Avec au-dessus de 30 ans d'expérience en mécanique de machinerie lourde, 
            nous sommes fières d'annoncer l'ouverture de notre atelier de 
            <span class="fw-bold" style="color: #0071ce;">R</span>éparation, 
            <span class="fw-bold" style="color: #0071ce;">D</span>iagnostique 
            et <span class="fw-bold" style="color: #0071ce;">I</span>nspection, Mécanique RDI! Nous sommes deux partenaires, 
            Alexandre Ford et Marco Forget, qui ont un intérêt particulier pour la 
            mécanique et le service client! Nos connaissances de plusieurs types de
            machinerie nous permettent d'être flexible dans les services de réparations que nous offrons!<br><br>
            Au plaisir de vous rencontrer et de travailler avec vous!
          </p>
        </div>
        <div class="col-lg-2 col-sm-6">
          <figure class="figure">
            <img src="assets/Alexandre.jpg" alt="Alexandre" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption" style="color: #0071ce;">Alexandre Ford</figcaption>
          </figure>
        </div>
        <div class="col-lg-2 col-sm-6">
          <figure class="figure">
            <img src="assets/Marco.jpg " alt="Marco" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption" style="color: #0071ce;">Marco Forget</figcaption>
          </figure>
        </div>
      </div>
    </div>
</section>

<section class="row mt-5">
    <div class="col-10 mx-auto">
      <h3 class="fw-bold" style="text-indent: 20px; color: #0071ce;">Services<hr></h3>
      <p class="mt-4 h5 px-3">
        Nous offrons la réparation, le diagnostic et l'inspection de plusieurs machines dont :
        <span>
          <ul>
            <li>Les chariots télescopiques</li>
            <li>Les plateformes de levage</li>
            <li>Les nacelles</li>
            <li>Les bulldozers</li>
            <li>Les chariots élévateurs</li>
            <li>Les loaders</li>
            <li>Les niveleuses</li>
            <li>Les camions articulés</li>
            <li>Et plusieurs d'autres!</li>
          </ul>
        </span>
        Nous offrons aussi les services d’usinage de bore pour les pins et bushings 
        (oscillation de différentiel, articulation de loader, pins et bushings de boom, etc.)<br><br>
        Nous offrons la maintenance complète selon les normes du manufacturier et le suivi personnalisé 
        de chacune de vos machines afin que les entretiens de votre flotte soient à jour!
      </p>
    </div>
</section>

<section class="row mt-5 pb-5">
    <div class="col-10 mx-auto">
      <h3 class="fw-bold" style="text-indent: 20px; color: #0071ce;">Contactez-nous<hr></h3>
      <h4 class="fw-bold text-center">Alexandre Ford et Marco Forget</h4>
      <div class="row justify-content-center text-center mt-3">
        <div class="col-md-4">
          <p>
            Téléphone : 514-638-6358
          </p>
        </div>
        <div class="col-md-4">
          <p>
            Courriel : <a href="mailto:rdi.mecanique@gmail.com">rdi.mecanique@gmail.com</a>&emsp;
          </p>
        </div>
        <div class="col-md-4">
          <p>
            Adresse : 1101 Rue Nobel Local A, Sainte-Julie, Quebec J3E 1Z4
          </p>
        </div>
      </div>
    </div>
</section>