<section class="row mt-5">
    <div class="col-10 mx-auto">
      <h3 class="fw-bold" style="text-indent: 20px; color: #0071ce;">About us<hr></h3>
      <div class="row">
        <div class="col-lg-8 col-sm-12">
          <p class="mt-4 h5 px-3" style="text-indent: 30px;">
            With over 30 years of experience in heavy equipment repairs, 
            we are proud to announce the opening of our <span class="fw-bold" style="color: #0071ce;">R</span>epair, 
            <span class="fw-bold" style="color: #0071ce;">D</span>iagnostic 
            and <span class="fw-bold" style="color: #0071ce;">I</span>nspection shop, 
            Mécanique RDI! We are two partners, Alexandre Ford and Marco Forget, who have a 
            particular interest in doing great repairs 
            that last and in giving good customer satisfaction! Our vast knowledge of 
            different types of machines lets us offer many kinds of services.<br><br>
            Looking forward to working with you!
          </p>
        </div>
        <div class="col-lg-2 col-sm-6">
          <figure class="figure">
            <img src="assets/Alexandre.jpg" alt="Alexandre" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption" style="color: #0071ce;">Alexandre Ford</figcaption>
          </figure>
        </div>
        <div class="col-lg-2 col-sm-6">
          <figure class="figure">
            <img src="assets/Marco.jpg " alt="Marco" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption" style="color: #0071ce;">Marco Forget</figcaption>
          </figure>
        </div>
      </div>
    </div>
</section>

<section class="row mt-5">
    <div class="col-10 mx-auto">
        <h3 class="fw-bold" style="text-indent: 20px; color: #0071ce;">Services<hr></h3>
        <p class="mt-4 h5 px-3">
          We offer repair, diagnostic and inspection services for many machines including :
          <span>
            <ul>
              <li>Telehandlers</li>
              <li>Elevation platforms</li>
              <li>Boom lifts</li>
              <li>Bulldozers</li>
              <li>Excavators</li>
              <li>Forklifts</li>
              <li>Loaders</li>
              <li>Articulated Trucks</li>
              <li>And many more!</li>
            </ul>
          </span>
          We also offer machining services for pin and bushing bores (differential oscillations, 
          loader articulation, boom pin and bushing and more)<br><br>
          We also offer maintenance service done by the manufacturers recommendations and a 
          personalised report for every machine. Ideal for fleets.
        </p>
    </div>
</section>

<section class="row mt-5 pb-5">
    <div class="col-10 mx-auto">
      <h3 class="fw-bold" style="text-indent: 20px; color: #0071ce;">Contact us<hr></h3>
      <h4 class="fw-bold text-center">Alexandre Ford and Marco Forget</h4>
      <div class="row justify-content-center text-center mt-3">
        <div class="col-md-4">
          <p>
            Phone : 514-638-6358
          </p>
        </div>
        <div class="col-md-4">
          <p>
            Email : <a href="mailto:rdi.mecanique@gmail.com">rdi.mecanique@gmail.com</a>&emsp;
          </p>
        </div>
        <div class="col-md-4">
          <p>
            Address : 1101 Rue Nobel Local A, Sainte-Julie, Quebec J3E 1Z4
          </p>
        </div>
      </div>
    </div>
</section>