<section class="row mt-5">
    <div class="col-10 mx-auto">
        <h3 class="" style="text-indent: 30px;">About us<hr></h3>
        <p>Placeholder</p>
    </div>
</section>

<section class="row mt-5">
    <div class="col-10 mx-auto">
        <h3 class="" style="text-indent: 30px;">Services<hr></h3>
        <p>Placeholder</p>
    </div>
</section>

<section class="row mt-5">
        <div class="col-10 mx-auto">
        <h3 class="" style="text-indent: 30px;">Contact us<hr></h3>
        <h4 class="fw-bold text-center" style="color: #0080ff; text-indent: 30px;">Alexandre Ford and Marco Forget</h4>
        <p class=" text-center">
            Phone : 514-638-6558&emsp;
            Email : <a href="mailto:rdi.mechanique@gmail.com">rdi.mechanique@gmail.com</a>&emsp;
            Address : 1101 Rue Nobel (Local A)
        </p>
    </div>
</section>